/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Base font size (18px) */
html {
  font-size: 112.5%;
  max-width: 100vw;
  overflow-x: hidden;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  word-break: break-word;
  hyphens: auto;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: calc(2px + 2ex + 2px);
  
  /* overflow-x: hidden; */
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

img:not([alt]) {
  outline: 2px solid var(--red);
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: var(--white);
  border: 2px solid var(--input-border);
  border-radius: 4px;
  transition: 180ms box-shadow ease-in-out, 180ms background-color ease-in-out;
  cursor: pointer;
  text-align: center;
  line-height: 1.1;
}

input:focus,
textarea:focus,
select:focus {
  border-color: hsl(
    var(--input-focus-h),
    var(--input-focus-s),
    var(--input-focus-l)
  );
  box-shadow: 0 0 0 3px
    hsla(
      var(--input-focus-h),
      var(--input-focus-s),
      calc(var(--input-focus-l) + 40%),
      0.8
    );
  outline: 3px solid transparent;
}

/* Textarea typography */
textarea {
  line-height: 1.2;
  height: 2.25rem;
  resize: vertical;
}

/* File Inout */
input[type="file"] {
  font-size: 0.9em;
  padding-top: 0.35rem;
}

.input[readonly] {
  border-style: dotted;
  cursor: not-allowed;
  color: var(--grey);
}

/* Color for selected areas */
::selection {
  background: var(--yellow);
  color: var(--black);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
