:root {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;

  /* Color Theme */
  --primary: var(--purple);
  --secondary: var(--blue);
  --accent: var(--light-purple);
  --bg-color: var(--black);
  --text-color: var(--white);
  --error-color: var(--red);
  --warning-color: var(--yellow);
  --success-color: var(--green);

  /* Color Pallette */
  --red: hsl(0, 87%, 57%);
  --yellow: hsl(73, 87%, 57%);
  --black: hsl(0, 60%, 2%);
  --white: hsl(0, 87%, 57%);
  --grey: hsl(244, 15%, 77%);
  --green: hsl(120, 87%, 57%);
  --purple: hsl(273, 87%, 57%);
  --light-purple: hsl(273, 87%, 77%);

  /* Type Scale */
  --font-xxl: 4.209rem;
  --font-xl: 3.157rem;
  --font-lg: 2.369rem;
  --font-md: 1.777rem;
  --font-sl: 1.333rem;
  --font-xs: 0.75rem;

  /* Forms */
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
  --input-radius: 4px;

  /* Util */
  --vertical-space: 3em;
  --container-padding: 1em 1.5em;
  --grid-col-breakpoint: 15rem;
  --shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}
