$black: #1b1b3a !default;
$white: #f2f5ff !default;
$primary-50: #f7ebff !default;
$primary-100: #e9cefa !default;
$primary-200: #dfb2f4 !default;
$primary-300: #d895f4 !default;
$primary-400: #d378f4 !default;
$primary-500: #cb4af1 !default;
$primary-600: #c329e8 !default;
$primary-700: #af13d1 !default;
$primary-800: #700486 !default;
$primary-900: #2a0033 !default;
$amber-50: #fff9de !default;
$amber-100: #fdf3bc !default;
$amber-200: #faef9b !default;
$amber-300: #f8eb7d !default;
$amber-400: #f5e960 !default;
$amber-500: #c6c234 !default;
$amber-600: #95971b !default;
$amber-700: #64680d !default;
$amber-800: #363906 !default;
$amber-900: #090a01 !default;
$green-50: #fafffd !default;
$green-100: #c9f9e8 !default;
$green-200: #9af2d7 !default;
$green-300: #6febc8 !default;
$green-400: #47e5bc !default;
$green-500: #23b998 !default;
$green-600: #108d75 !default;
$green-700: #086252 !default;
$green-800: #04362d !default;
$green-900: #010a09 !default;
$red-50: #ffebeb !default;
$red-100: #facfcf !default;
$red-200: #f4b5b5 !default;
$red-300: #ef9d9d !default;
$red-400: #e98787 !default;
$red-500: #d36060 !default;
$red-600: #a34740 !default;
$red-700: #723329 !default;
$red-800: #421f17 !default;
$red-900: #120906 !default;
$grey-50: #edf6ff !default;
$grey-100: #d7e3f0 !default;
$grey-200: #c1d0e1 !default;
$grey-300: #adbed2 !default;
$grey-400: #9badc3 !default;
$grey-500: #788aa3 !default;
$grey-600: #54647d !default;
$grey-700: #374358 !default;
$grey-800: #1d2532 !default;
$grey-900: #07090d !default;
